*,
*::after,
*::before {
    border: 1px solid red;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #b2ebf2;
    font-family: "Gruppo", serif;
    font-weight: 600;
    font-style: normal;

}

.app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Media query for tablets */
@media (max-width: 1024px) and (min-width: 300px) {
    .app-container {
        flex-direction: column;  /* Change layout to column on tablets */
        gap: 20px;
    }
}

.timer-container{
    width: 300px;
    height: 400px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.log-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    right: 10%;
    position: absolute;
}

/* Media query for tablets */
@media (max-width: 1024px) and (min-width: 300px) {
    .log-container {
        position: unset;  /* Change layout to column on tablets */
    }
}

/* restart-button */

.restart-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* timer */

.timer {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    background-color: #b2ebf2;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 10px 15px 2px rgba(0, 0, 0, 0.35);
}

.outer {
    background-color: #85b4b0;
    width: 300px;
    height: 300px;
    box-shadow: 5px 10px 15px 2px rgba(0, 0, 0, 0.35);
    position: relative;
}


.timer-buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 150px;
}



.timer-btn {
    width: 40px;
    height: 40px;
    z-index: 10;
    font-size: 1.2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.1 ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px -2px;
}

.timer-btn:active {
    box-shadow: none;
}

/* progress bar */

.progress-bar-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
}


circle {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 20px;
    stroke-linecap: round;
    stroke-dasharray: 570;
    stroke-dashoffset: 24;
}

.animated {
    animation: anim 0.5s ease-in-out;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 0;
    }

    0% {
        stroke-dashoffset: 570;
    }
}


/* time disply */

.time-display {
    margin-top: 25%;
    font-size: 3.5rem;
}



/* + - buttons */


.slider-wrapper {
    display: flex;
    position: relative;
    width: 300px;
}

.slider-btn {
    width: 50px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.slider-btn:active {
    box-shadow: none;
    font-size: 1.1rem;
}

.slider-btn:hover {
    font-size: 1.1rem;
}

.less {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 5px -2px;
}

.more {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 5px -2px;


}

/*********** Baseline Styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 48px;
    cursor: pointer;
    outline: none;
    background: #add8e6;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 5px -2px;

}

/*********** Track Styles ***********/
input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
    background-image: repeating-linear-gradient(to right,#add8e6,
    #add8e6 calc((100% / 13) - 1px),#05051a calc(100% / 13));
    background-size: 226px;
}

input[type="range"]::-moz-range-track {
    height: 30px;
    background-image: repeating-linear-gradient(to right, #add8e6,
    #add8e6 calc((100% / 13) - 1px),#05051a calc(100% / 13));
    background-size: 226px;
}


/*********** Thumb Styles ***********/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 4rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    position: relative;
    top: -16px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px -2px;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 4rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px -2px;
}

input[type="range"]::-webkit-slider-thumb:active{
    box-shadow: none;
}
input[type="range"]::-moz-range-thumb:active {
    box-shadow: none;
}


/* log list */

.log-title{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.log-entry{
    border-bottom: 1px solid black;
    text-align: right;
    /* width: 50px; */
    padding-bottom: 5px;
}