*,
*::after,
*::before {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #b2ebf2;
}

.app-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* restart-button */

.restart-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* timer */

.timer {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    background-color: #b2ebf2;
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.outer {
    background-color: #85b4b0;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 2px;
    position: relative;
}


.timer-buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 150px;
}



.timer-btn {
    width: 40px;
    height: 40px;
    z-index: 10;
    font-size: 1.2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

/* progress bar */

.progress-bar-svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
}


circle {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 20px;
    stroke-linecap: round;
    stroke-dasharray: 570;
    stroke-dashoffset: 24;
}

.animated {
    animation: anim 1s ease-in-out;
  }

@keyframes anim {
    100% {
        stroke-dashoffset: 0;
    }

    0% {
        stroke-dashoffset: 570;
    }
}


/* time disply */

.time-display {
    margin-top: 25%;
    font-size: 3.5rem;
}



/* + - buttons */


.slider-wrapper {
    display: flex;
    position: relative;
    width: 300px;
}

.slider-btn {
    width: 30px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
    transition: all 0.1s ease-in-out;
    border: 1px solid black;
    cursor: pointer;
}

.btn:active {
    box-shadow: none;
}

.less {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 5px -2px;
}

.more {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px -2px;


}

/*********** Baseline Styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3rem;
    /* Track height */
    /* Make sure track color is visible */
    cursor: pointer;
    outline: none;
    background: #add8e6;
    background-image: repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) calc((100% / 13) - 1px)
    );
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px -2px;

}

/*********** Track Styles ***********/
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
    height: 30px;
    /* background: #add8e6;  */
    background: #add8e6;
    background-image: repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) calc((100% / 13) - 1px), /* Adjust for 13 intervals */
        #05051a calc(100% / 13)
    );
    background-size: 251px; /* Prevent last line */
    background-repeat: no-repeat;
}


/*********** Thumb Styles ***********/
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    /* Narrower thumb */
    height: 4rem;
    /* Maintain the same height as before */
    background-color: rgba(255, 255, 255, 1);
    /* Darker color similar to step lines */
    border-radius: 10px;
    /* Remove the roundness */
    margin-top: -7px;
    /* Vertically centers thumb */
    outline: 1px solid #808080;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb {
    /* outline: 2px solid #808080; */
}