*, *::after, *::before{
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.app-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* restart-button */

.restart-btn{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* timer */

.timer{
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.inner{
    width: 160px;
    height: 160px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.outer{
    width: 200px;
    height: 200px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    position: relative;
}

.play{
    z-index: 100;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* progress bar */

.progress-bar-svg{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
}


circle{
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 20px;
    stroke-linecap: round;
    stroke-dasharray: 570;
    stroke-dashoffset: 24;
    animation: anim 2s linear forwards;
}

/* @keyframes anim{
    100%{
        stroke-dashoffset: 157.5;
    }
    0%{
        stroke-dashoffset: 570;
    }
    /* 75%{
        stroke-dashoffset: 570 - 570 * 0.75;
    }
    50%{
        stroke-dashoffset: 570 - 570 * 0.5;
    }
    25%{
        stroke-dashoffset: 570 - 570 * 0.25;
    }
    0%{
        stroke-dashoffset: 570 - 570 * 0;
    } 
*/


/* time disply */

.time-display{
    font-size: 2.5rem;
}



/* + - buttons */

.time-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.less, .more {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 2.5rem;
}

/* slider */

#time-slider {
    width: 300px; /* Make the slider span the full width */
}



.btn{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.1s ease-in-out;
}

.btn:active{
    box-shadow: none;
}